/********** Body ***************/

body {
	color: black;
	font-size: 100%;
	font-family: sans-serif;
}

.wrapper {
	width: 1024px;
	margin: 0 auto;
}

.main-content {
	@include borderbox;
	float: right;
	width: 724px;
}


/********* Header ***************/

header {
	@include borderbox;
	display: block;
	float: right;
	height: 200px;
	overflow: hidden;
	width: 724px;
	margin: 0;
	padding: 0;
}

nav {
	background: #231f20;
	clear: right;
	color: white;
	display: inline-block;
	float: right;
	width: 724px;
}

nav > ul {
	background: inherit;
	display: inline-block;
	float: left;
	padding: 0px 20px 0px 20px
}

nav > ul > li {
	float: left;
	display: inline;
}

nav > ul > li > a {
	@include borderbox;
	color: white;
	display: block;
	font-size: 1.1em;
	/********** temp **********/
	font-family: serif;
	font-style: italic;
	font-weight: bold;
	/********************/
	padding: 8px 13px 5px 13px;
	text-decoration: none;
}

/********* Container ***************/

.container {
	@include borderbox;
	float: right;
	height: 542px;
	width: 724px;
}

/********* Content ***************/

.page-content {
	@include borderbox;
	float: left;
	height: inherit;
	width: 491px;

	h1, h2, h3, h4, h5, h6, p {
		padding: 1em 0.75em 0 1em;
		line-height: 1.3;
	}	

	h1 {
		font-size: 1.2em;
	}

	h1, h2 {
		font-weight: bold;
	}

	p {
		font-size: 0.9em;
		font-weight: 200;
		letter-spacing: 1px;
	}

	img {
		clear: both;
		display: block;
		margin: 0 auto;
		padding: 1em;
	}
}

.right-sidebar {
	@include borderbox;
	background: url('../images/right-sidebar-bkgnd.jpg');
	color: #fff;
	float: right;
	height: inherit;
	width: 233px;

	h1, h2, h3, h4, h5, h6, p {
		padding: 1em 0.75em 0 0.75em;
		line-height: 1.15;
	}
/********** temp **********/
	h2 {
		font-family: serif;
		font-size: 1.2em;
		font-style: italic;
		font-weight: bold;
/********/
	}

	p {
		font-weight: 200;
		letter-spacing: -1px;
		padding-bottom: 1em;
	}

	a {
		color: #fff;
		text-decoration: none;
	}
}

/********* Main Sidebar ***************/

.main-sidebar {
	@include borderbox;
	float: left;
	overflow: hidden;
		margin: 0;
	padding: 0;
	width: 300px;
}

.chips-graphic {
}