/********** Body ***************/

body {
	color: black;
	font-size: 100%;
	font-family: sans-serif;
}

.wrapper {
	width: 1024px;
	margin: 0 auto;
}

.main-content {
	@include borderbox;
	float: right;
	width: 724px;
}

.center {
	display: block;
	margin: 0 auto;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

/********* Header ***************/

header {
	@include borderbox;
	display: block;
	float: right;
	height: 200px;
	overflow: hidden;
	width: 724px;
	margin: 0;
	padding: 0;
}

nav {
	background: #231f20;
	clear: right;
	display: inline-block;
	float: right;
	height: 30px;
	width: 724px;
}

nav > ul {
	background: inherit;
	display: inline-block;
	float: left;
	height: 30px;
	padding: 0px 20px 0px 20px;
}

#menu-navigation {
	
	display: inline-block;
	float: left;
	padding: 0px 20px 0px 20px;	

	li {
		background: inherit;
		float: left;
		display: inline;
		height: 30px;
		position: relative;

		a {
			@include borderbox;
			color: white;
			display: block;
			font-size: 0.9em;
			/********** temp **********/
			font-family: serif;
			font-style: italic;
			font-weight: bold;
			/********************/
			padding: 8px 10px 5px 10px;
			text-decoration: none;				
		}

		a:hover {
			color: #c62321;
		}
	}

	ul {
		background: inherit;
		position: absolute;
		display: none;
		float: left;

		overflow: hidden;
		width: 200px;
		z-index: 9999;

		li {
			clear: both;
			
			a {
				
			}
		}
	}

	li:hover ul {
		display: inline-block;
	}
}

/********* Container ***************/

.container {
	@include borderbox;
	float: right;
	height: 542px;
	width: 724px;
}

/********* Content ***************/

.page-content {
	@include borderbox;
	float: left;
	height: inherit;
	position: relative;
	width: 491px;

	h1, h2, h3, h4, h5, h6, p {
		padding: 1em 0.75em 0 1em;
		line-height: 1.3;
	}	

	h1 {
		font-size: 1.2em;
		padding-bottom: 1em;
	}

	h1, h2 {
		font-weight: bold;
	}

	p, ul {
		font-size: 0.9em;
		font-weight: 200;
		letter-spacing: 1px;
	}

	ul {
		list-style-type: disc;
		line-height: 1.6;
		padding: 1.3em 0 0.75em 2em;
	}

	a {
		color: #c62123;
	}
	a:hover {
		color: #000000;
	}

}

h1.page-header {
	color: #ed1f24;
	font-family: serif;
	font-size: 2em;
	padding: 0.2em 0 0.1em 0.35em;
}

h1.page-subheader {
	font-size: 1em;
	padding-top: 0;
	padding-bottom: 0;
}

.social-media {
	img{
		float: left;
		margin-left: 5px;
	}
}

.product-img {
	margin-top: 1em;
}

img.products-logo {
	float: right;
	padding: 1.6em 1.6em 0.6em 0.6em;
}

.product-img > img {
	padding: 0.2em;
}

.right-sidebar {
	@include borderbox;
	background: url('../images/right-sidebar-bkgnd.jpg');
	color: #fff;
	float: right;
	height: inherit;
	width: 233px;

	h1, h2, h3, h4, h5, h6, p {
		padding: 1em 0.75em 0 0.75em;
		line-height: 1.15;
	}
/********** temp **********/
	h2 {
		font-family: serif;
		font-size: 0.95em;
		font-style: italic;
		font-weight: bold;
/********/
	}

	p {
		font-size: 0.95em;
		font-weight: 200;
		letter-spacing: -1px;
		padding-bottom: 1em;
	}

	a {
		color: #fff;
		text-decoration: none;
	}
	a:hover {
		color: #ccc;
	}
}

footer {
	position: absolute;
	bottom: 0px;
	width: inherit;

	.copyright {
		display: inline-block;
		float: right;
		font-size: 0.8em;
		letter-spacing: 0;
		line-height: normal;
		text-align: right;
		vertical-align: middle;
	}
}

/********* Main Sidebar ***************/

.main-sidebar {
	@include borderbox;
	float: left;
	overflow: hidden;
		margin: 0;
	padding: 0;
	width: 300px;
}

.chips-graphic {
}

.instagram-container {
	color: #77787a;
	font-weight: bold;
	margin-top: 10px;
	h1 {
		font-size: 0.85em;
		text-transform: uppercase;
	}
	p {
		font-size: 0.72em;
	}
}

.instagram-info {
	@include borderbox;
	background-color: #f4f4f5;
	border-top: 1px solid #bec1c0;
	border-bottom: 1px solid #e0e0e0;
	height: 20px;
	margin: 10px 0 10px 0;
	width: 300px;

	.instagram-text {
		float: left;
		padding: 1px 10px 0 10px;

		p {
			float: inherit;
			padding: 4px 0 0 0;
		}
		img {
			float: inherit;
			padding: 2px 3px 0 0;
		}
	}
}



.instagram {
	width: 300px;
	height: auto;
}

.instagram-image {
	border: 1px solid #ccc;
	float: left;
	height: 125px;
	margin: 8px;
	padding: 3px;
	width: 125px;
}